// 
// root.scss
//

@mixin color-mode($mode: light, $root: false) {
    @if $color-mode-type =="media-query" {
        @if $root ==true {
            @media (prefers-color-scheme: $mode) {
                :root {
                    @content;
                }
            }
        }

        @else {
            @media (prefers-color-scheme: $mode) {
                @content;
            }
        }
    }

    @else {
        [data-bs-theme="#{$mode}"] {
            @content;
        }
    }
}

//theme-light
:root,
[data-bs-theme="light"] {
    --#{$prefix}header-bg:                                #{$white};
    --#{$prefix}header-item-color:                        #{$header-item-color};
    --#{$prefix}header-item-sub-color:                    #{$text-muted};
    --#{$prefix}sidebar-bg:                               #{$white};
    // Topbar User
    --#{$prefix}topbar-user-bg:                           #{$gray-100};

    // Horizontal nav
    --#{$prefix}topnav-bg:                                #{$white};
    --#{$prefix}topnav-item-color:                        #{darken($gray-600, 10%)};
    --#{$prefix}topnav-item-color-active:                 var(--#{$prefix}primary);

      // twocolumn menu
    --#{$prefix}twocolumn-menu-iconview-bg:               #{$white};
    --#{$prefix}twocolumn-menu-bg:                        #{$white};

    --#{$prefix}alert-border-color:                       #{$gray-200};
    --#{$prefix}list-group-color:                         #{$gray-700};

    --#{$prefix}toast-background-color:                   #{$white};
    --#{$prefix}toast-border-color:                       #{$gray-300};

    --#{$prefix}input-bg:                                 #{$white};
    --#{$prefix}input-focus-border-color:                 #{$gray-700};
    --#{$prefix}input-border-color:                       #{$gray-400};

    --#{$prefix}menu-item-color:                          #7b8190;

     // Display
     --#{$prefix}sidebar-bg:                             #ffffff;
     --#{$prefix}sidebar-menu-item-color:                #7b8190;
     --#{$prefix}sidebar-menu-sub-item-color:            #7b8190;
     --#{$prefix}sidebar-menu-item-icon-color:           #7b8190;
     --#{$prefix}sidebar-menu-item-hover-color:          #383c40;
     --#{$prefix}sidebar-menu-item-active-color:         #000000;
     --#{$prefix}sidebar-menu-item-active-bg-color:      #f3f8fb;
 
     [data-sidebar="dark"]{
         --#{$prefix}sidebar-dark-bg:                            #1c2742;
         --#{$prefix}sidebar-dark-menu-item-color:               #898fa9;
         --#{$prefix}sidebar-dark-menu-sub-item-color:           #7b8198;
         --#{$prefix}sidebar-dark-menu-item-icon-color:          #666b7f;
         --#{$prefix}sidebar-dark-menu-item-hover-color:         #{$white};
         --#{$prefix}sidebar-dark-menu-item-active-color:        #{$white};
         --#{$prefix}sidebar-menu-item-active-bg-color-dark:     #000;
         --#{$prefix}sidebar-menu-item-active-bg-color:          #000;
     }

    &[data-sidebar="colored"] {
        --#{$prefix}vertical-menu-bg:                         #{$black};
        --#{$prefix}vertical-menu-border:                     #{$black};
        --#{$prefix}vertical-menu-item-color:                 #bbbbbb;
        --#{$prefix}vertical-menu-item-hover-color:           #{$white};
        --#{$prefix}vertical-menu-item-hover-bg:              #1c2932;
        --#{$prefix}vertical-menu-item-active-color:          #{$white};
        --#{$prefix}vertical-menu-sub-item-color:             #c5c5c5;
        --#{$prefix}vertical-menu-sub-item-hover-color:       #{$white};
        --#{$prefix}vertical-menu-sub-item-active-color:      #{$white};
        --#{$prefix}vertical-menu-title-color:                #cfcfcf;
    }
}

[data-topbar="dark"] {
    --#{$prefix}header-bg:                            #000000;
    --#{$prefix}header-item-color:                    #{$black};
    --#{$prefix}header-item-sub-color:                #4a4a4a;
}


//theme dark
@if $enable-dark-mode {
    @include color-mode(dark, true) {
        --#{$prefix}light:                     #{$light-dark};
        --#{$prefix}light-rgb:                  #{to-rgb($light-dark)};
        --#{$prefix}dark:                       #{$light-dark};
        --#{$prefix}dark-rgb:                   #{to-rgb($light-dark)};
        --#{$prefix}header-item-color:          #{$header-item-color-dark};
        --#{$prefix}menu-item-color:            #{$menu-item-color-dark};

        --#{$prefix}header-bg:                                #000;

        --#{$prefix}topnav-bg:                                #000;

        --#{$prefix}input-bg:                                  #{$body-tertiary-bg-dark};  
        --#{$prefix}boxed-body-bg:                             #171717; 

       &[data-sidebar="light"]{
            --#{$prefix}sidebar-bg:                             #ffffff;
            --#{$prefix}sidebar-menu-item-color:                #7b8190;
            --#{$prefix}sidebar-menu-sub-item-color:            #7b8190;
            --#{$prefix}sidebar-menu-item-icon-color:           #7b8190;
            --#{$prefix}sidebar-menu-item-hover-color:          #383c40;
            --#{$prefix}sidebar-menu-item-active-color:         #6f6f6f;
            --#{$prefix}sidebar-menu-item-active-bg-color:      #f3f8fb;
       }

            --#{$prefix}sidebar-bg:                                 #000;
            --#{$prefix}sidebar-menu-item-color:                    #666b7f;
            --#{$prefix}sidebar-menu-sub-item-color:                #666b7f;
            --#{$prefix}sidebar-menu-item-icon-color:               #666b7f;
            --#{$prefix}sidebar-menu-item-hover-color:              #{$white};
            --#{$prefix}sidebar-menu-item-active-color:             #{$white};
            --#{$prefix}sidebar-menu-item-active-bg-color:          #000;


        

        &[data-sidebar="dark"]{
            --#{$prefix}sidebar-dark-bg:                                 #2d2d2d;
            --#{$prefix}sidebar-dark-menu-item-color:                    #9d9d9d;
            --#{$prefix}sidebar-dark-menu-sub-item-color:                #787878;
            --#{$prefix}sidebar-dark-menu-item-icon-color:               #5c5c5c;
            --#{$prefix}sidebar-dark-menu-item-hover-color:              #{$white};
            --#{$prefix}sidebar-dark-menu-item-active-color:             #{$white};
            --#{$prefix}sidebar-dark-menu-item-active-bg-color:          #000;
        }

        .table-light {
            --bs-table-color:                       #{$white};
            --bs-table-bg:                          var(--#{$prefix}light);
            --bs-table-border-color:                var(--#{$prefix}border-color);
            --bs-table-striped-bg:                  var(--#{$prefix}light);
            --bs-table-striped-color:               #{lighten($light-dark, 100%)};
            --bs-table-active-bg:                   var(--#{$prefix}light);
            --bs-table-active-color:                #{lighten($light-dark, 100%)};
            --bs-table-hover-bg:                    var(--#{$prefix}light);
            --bs-table-hover-color:                 #{lighten($light-dark, 100%)};
        }

        &[data-topbar="light"] {
            --#{$prefix}header-bg:  #{$white};
            --#{$prefix}header-item-color:   #{$header-item-color};
            --#{$prefix}header-item-sub-color: #a4a4a4;
        }
    }
}